/* Homepage.css */
.main-background {
    background-color: #f4f4f4;
  }
  
  .hero-section {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .hero-image {
    width: 100%;
 height: 100%;
 
  }
  
  .carousel-container {
    margin-top: 10px;
  }
  
  .carousel-inner img {
 
    height: 500px;
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
  }
  
  .product-section {
    margin-top: 40px;
    padding: 20px 0;
  }
  
  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
    color: #333;
  }
  
  .product-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
  }
  
  .product-card {
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
  }
  
  .product-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .product-details {
    padding: 15px;
    text-align: center;
  }
  
  .product-details h5 {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  
  .product-details p {
    font-size: 1rem;
    color: #555;
  }
  
  .btn-primarys {
    background-color: #f0a500;
    color: white;
    padding: 10px;
    border:none;
    border-radius: 10px;
  }  

  .btn-primarys:hover{
    background-color: red;
  }