.navbar {
  height: 80px;
  width: 100vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand img {
  height: 120px;
  width: 120px;
}

.nav-link {
  font-size: 1rem;
  margin-right: 20px;
}

.nav-link.active {
  color: #007bff;
}

.signin{
  font-size: 1rem;
  padding: 8px 20px
}

.signup{
  font-size: 1rem;
  padding: 8px 20px;
}
