.registercontainer-maindiv{
    width: 500px;
    height: 100vh;
    margin-top: 100px;
    margin-left: 300px;
    background-color: rgba(0, 255, 255, 0.12);
    border-radius: 12px;
}
.register-head{
    padding-top: 10px;
}
.registerinput-top{
    padding-top: 10px;
}
.register_para p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.register_para input{
    border-radius: 20px;
}
.date{
width: 180px;
}
.registerbutton_1{
    width:200px;
    margin-left: 130px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
background-color:palegoldenrod;

}
.registerfull{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.register-main{
 background-image: url(../../Assets/register.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
}

.register-selectdiv .select,option{
    width: 175px;
    height: 25px;
    border-radius: 20px;
}
